aoyama/config.py
logfile
aoyama.session
aoyama.session-journal
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
okgoogle.png
*.backup
sticker.png
kangsticker.png
kangsticker.tgs
kangsticker
aoyama.mp3
gpic.png
