future
emoji
requests
telethon
sqlalchemy
python-telegram-bot==12.8
psycopg2-binary
pythonping
feedparser
pytz
future
google_trans_new
gtts
bs4
lxml
demjson
wget
bs4
telegraph
pillow
psutil
speedtest-cli>=2.0.2
wikipedia
spamwatch
bleach
git+https://github.com/Fallavall/python-markdown2.git
alphabet_detector
jikanpy
tswift
nekos.py
geopy
bing_image_downloader
html2text
